<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kliendi otsimine</title>

    <link rel="stylesheet" href="/resources/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/styles.css" />
</head>
<body>

<div class="container-fluid">
    <h3>Kliendi otsimine</h3>

    <form method="post" th:object="${customer}">
        <div class="form-group">
            <input autofocus="true" autocomplete="off" type="text" class="form-control" th:field="*{name}" placeholder="Nimi"/>
        </div>
    </form>

    <hr/>


    <div class="list-group">
        <a class="list-group-item"
           th:each="customer : ${results}"
           th:text="${customer.name}"
           th:attr="data-id=${customer.id}, data-name=${customer.name}"
           onclick="chooseResult(event)"></a>
    </div>

    <script>
        function chooseResult(event) {
            const { id, name } = event.target.dataset;

            const callback = window.opener.customerSearchResultChosen;

            if(typeof callback === "function")
                callback(id, name);
        }
    </script>
</div>

</body>
</html>