<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/resources/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/styles.css" />
</head>
<body>

    <div class="container">
        <div th:replace="fragments :: #header"/>

        <div class="content">
            <h3>Päring</h3>

            <form method="POST" th:object="${serviceRequest}" name="serviceRequest">
                <input type="hidden" th:field="*{id}"/>

                <fieldset class="form-group" th:classappend="${#fields.hasErrors('customer')}? has-danger">
                    <label for="" class="control-label col-sm-4">Klient</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" id="customerName"
                                   class="form-control" readonly="true"
                                   placeholder="Klient" th:value="${serviceRequest.customer}? ${serviceRequest.customer.name}" />
                            <input type="hidden" th:field="*{customer}"/>

                            <span class="input-group-btn">
                                <button
                                        class="btn btn-primary" type="button"
                                        onclick="openCustomerSearch(event)">Otsi klienti</button>
                            </span>
                        </div>

                        <div th:errors="${serviceRequest.customer}"></div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="" class="control-label col-sm-4">Staatus</label>

                    <div class="col-sm-8">
                        <select class="form-control" th:field="*{statusType}">
                            <option th:each="type : ${requestStatusTypes}" th:value="${type.id}" th:text="${type.name}"/>
                        </select>
                    </div>
                </fieldset>

                <fieldset class="form-group"
                          th:classappend="${#fields.hasErrors('descriptionByCustomer')}? has-danger">
                    <label for="" class="control-label col-sm-4">Kliendi nägemus probleemist</label>

                    <div class="col-sm-8">
                        <textarea class="form-control" style="min-height: 100px"
                                  th:field="*{descriptionByCustomer}" />

                        <div th:errors="${serviceRequest.descriptionByCustomer}"></div>
                    </div>
                </fieldset>

                <fieldset class="form-group"
                          th:classappend="${#fields.hasErrors('descriptionByEmployee')}? has-danger">
                    <label for="" class="control-label col-sm-4">Töötaja kirjeldus</label>

                    <div class="col-sm-8">
                        <textarea class="form-control" style="min-height: 100px"
                                  th:field="*{descriptionByEmployee}" />

                        <div th:errors="${serviceRequest.descriptionByEmployee}"></div>
                    </div>
                </fieldset>
            </form>

            <form th:action="@{'/service-requests/' + ${id} + '/delete'}" method="post" name="deleteServiceRequest"/>
            <form th:action="@{'/service-requests/' + ${id} + '/create-service-order'}" method="post" name="createServiceOrder"/>

            <div class="form-group text-md-right">
                <button class="btn btn-primary"
                        onclick="document.forms.serviceRequest.submit()">Salvesta</button>
                <button class="btn btn-danger"
                        onclick="document.forms.deleteServiceRequest.submit()" th:if="${id}">Kustuta</button>
            </div>

            <div class="jumbotron" th:if="${creating == false} and ${serviceOrder == null}">
                <h3>Remonditellimust pole veel loodud</h3>
                <button class="btn btn-primary"
                        onclick="document.forms.createServiceOrder.submit()" th:if="${id}">Loo remonditellimus</button>
            </div>

            <div th:if="${serviceOrder}">
                <h3>Tellimus</h3>

                <form method="POST" th:action="@{'/service-orders/' + ${serviceOrder.id}}" th:object="${serviceOrder}" name="serviceOrder">
                    <input type="hidden" th:field="*{id}"/>

                    <fieldset class="form-group">
                        <label for="" class="control-label col-sm-4">Staatus</label>

                        <div class="col-sm-8">
                            <select class="form-control" th:field="*{statusType}">
                                <option th:each="type : ${orderStatusTypes}" th:value="${type.id}" th:text="${type.name}"/>
                            </select>
                        </div>
                    </fieldset>
                </form>

                <div class="card"
                     th:each="serviceDevice : ${serviceOrder.serviceDevices}">
                    <div class="card-block">
                        <h4 class="card-title" th:text="${serviceDevice.device.name}"/>

                        <fieldset class="form-group">
                            <label for="" class="control-label col-sm-4">Reg. number</label>

                            <div class="col-sm-8">
                                <p class="form-control-static"><b th:text="${serviceDevice.device.regNumber}"/></p>
                            </div>
                        </fieldset>

                        <form method="POST"
                              th:action="@{'/service-devices/' + ${serviceDevice.id}}"
                              th:object="${serviceDevice}" th:name="${'serviceDevice' + serviceDevice.id}">
                            <input type="hidden" name="id" th:value="${serviceDevice.id}"/>
                            <input type="hidden" name="device" th:value="${serviceDevice.device.id}"/>
                            <input type="hidden" th:field="*{serviceOrder}"/>

                            <fieldset class="form-group">
                                <label for="" class="control-label col-sm-4">Staatus</label>

                                <div class="col-sm-8">
                                    <select class="form-control" name="statusType" th:value="${serviceDevice.statusType.id}">
                                        <option th:each="statusType : ${serviceDeviceStatusTypes}"
                                                th:value="${statusType.id}" th:text="${statusType.name}"/>
                                    </select>
                                </div>
                            </fieldset>
                        </form>

                        <form method="POST"
                              th:action="@{'/service-devices/' + ${serviceDevice.id} + '/delete'}"
                              th:name="${'deleteServiceDevice' + serviceDevice.id}"/>

                        <button class="btn btn-primary"
                                th:onclick="${'document.forms.serviceDevice' + serviceDevice.id + '.submit()'}">Salvesta</button>
                        <button class="btn btn-danger"
                                th:onclick="${'document.forms.deleteServiceDevice' + serviceDevice.id + '.submit()'}">Eemalda</button>
                    </div>

                    <div class="card-footer" th:text="${serviceDevice.statusType.name}"/>
                </div>

                <form method="POST"
                      th:action="@{'/service-orders/' + ${serviceOrder.id} + '/add-device'}"
                      th:object="${serviceDevice}" name="createServiceDevice">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{serviceOrder}"/>
                    <input type="hidden" th:field="*{device}"/>
                </form>

                <div class="form-group text-md-right">
                    <button class="btn btn-secondary"
                            onclick="openDeviceSearch()">Lisa seade</button>
                    <button class="btn btn-primary"
                            onclick="document.forms.serviceOrder.submit()">Salvesta</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let customerSearchWindow;

        function openCustomerSearch(event) {
            event.preventDefault();

            customerSearchWindow = open("http://localhost:8080/search/customer");
        }

        function customerSearchResultChosen(id, name) {
            customerSearchWindow.close();

            document.forms.serviceRequest.querySelector("#customer").value = id;
            document.forms.serviceRequest.querySelector("#customerName").value = name;
        }

        let deviceSearchWindow;

        function openDeviceSearch(event) {
            deviceSearchWindow = open("http://localhost:8080/search/device");
        }

        function deviceSearchResultChosen(id) {
            deviceSearchWindow.close();

            document.forms.createServiceDevice.querySelector("#device").value = id;

            document.forms.createServiceDevice.submit();
        }
    </script>

</body>
</html>